.flg {
    font-size: 3rem;
}

.nav-item {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.profil_foto {
    width: 24px;
    height: 24px;
}



.arka_plan {
    background-image: url(https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fblogs-images.forbes.com%2Falejandrocremades%2Ffiles%2F2018%2F12%2Fbusiness-3605367_1920-1200x741.jpg);
    height: 53px;
}

.arka_plan_foto {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid white;
}

.about_me {
    margin-bottom: 10px;
    color: #5f5f5f;
}

.about_span {
    font-size: 12px;
    font-weight: bold;
    color: #5f5f5f;
}

input.content::placeholder {
    font-weight: bolder;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("img/edit.svg");
    background-repeat: no-repeat;
    background-size: auto;
    padding-left: 25px;
}

.mediatext {
    font-weight: 500;
}

.postphoto {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.posttext {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px;
}

button.ref {
    color: white;
}

button.ref:hover {
    color: #5f5f5f;
}

button.mediatext {
    color: #5f5f5f;
}

button.mediatext:hover {
    color: #5f5f5f;
}

.mediatext {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f5f5f;
}

i {
    color: gray;
    margin-top: 8px;
}

i:hover {
    color: black;
}

input.content {
    border-radius: 40px;
    height: 45px;
}

ul>li>a {
    text-decoration: none;
    font-size: 12px;
    color: grey;
}

